<div class="four-zero-four">
  <div class="four-zero-four-container">
    <div class="error-code">404</div>
    <div class="error-message">This page doesn't exist</div>
    <div class="button-place">
      <a routerLink="/login" class="btn btn-default btn-lg waves-effect">GO TO LOGIN</a>
    </div>
  </div>
</div>
