.hero-image {
  background-image: url("https://i.pinimg.com/originals/79/45/7f/79457fd4cbc0a6ff4b0542ac700cb4d1.jpg");
  background-color: #cccccc;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-size: unset;
  position: relative;
}
.bodypage{
  background-color: #0f9d58;
  background-size: unset;
}
.login-page1 {
  background-color: #0f9d58;
  padding-left: 0;
  max-width: 400px;
  margin: 5% auto;
  overflow-x: hidden; }
.login-page .login-box .msg {
  color: #555;
  margin-bottom: 30px;
  text-align: center; }
.login-page .login-box a {
  font-size: 14px;
  text-decoration: none;
  color: #0D0A0A; }
.login-page .login-box .logo {
  margin-bottom: 20px; }
.login-page .login-box .logo a {
  font-size: 36px;
  display: block;
  width: 100%;
  text-align: center;
  color: #0f9d58; }
.login-page .login-box .logo small {
  display: block;
  width: 100%;
  text-align: center;
  color: #0f9d58;
  margin-top: -5px; }
.img{
  border: 30px solid transparent;
}

/* Sign Up Page ================================ */
