<div>
    <div class="login-page1">
      <div class="login-box col-lg-12">
        <div class="logo">
          <div class="container-fluid align-center img">
            <img  width="168" height="195" src="../../../assets/images/logo.png">
          </div>
        </div>
        <div class="card">
          <div class="body">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
              <div class="msg">Sign in to start your session</div>
              <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                <div class="form-line">
                  <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required autofocus>
                </div>
              </div>
              <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                <div class="form-line">
                  <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"  required>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-8 p-t-5">
                  <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                  <label for="rememberme">Remember Me</label>
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-block bg-green waves-effect" type="submit" [disabled]="!loginForm.form.valid">SIGN IN</button>
                </div>
              </div>
              <div class="row m-t-15 m-b--20">
                <div class="col-xs-6">
                  <a routerLink="/home">Home</a>
                </div>
                <div class="col-xs-6 align-right">
                  <a href="forgot-password.html">Forgot Password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="alert alert-danger" *ngIf="status == 'error'">
          <strong>Oh no!</strong> Crontraseña o correo invalido
        </div>
        <div class="alert alert-success" *ngIf="status == 'success'">
          <strong>Well done!</strong> You successfully read this important alert message.
        </div>
      </div>
    </div>
</div>



